*{
    color: #E2E2E2;
}

body{
    background-color: #282828 !important;
}

.header{
    background: #414141;
}

.header h1{
    float: left;
}

#logo-header{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
}

nav.navbar{
    margin-bottom: 0px;
    position: relative;
    float: right;
}

nav.navbar a{
    color: #E2E2E2;
}

nav.navbar li a:hover{
    background-color: #414141;
    color: white;
}

nav.navbar li a:active{
    color: #E2E2E2;
    background-color: #414141;
}

li.dropdown-menu a{
    color: #414141;
}

li.dropdown-menu a:hover{
    color: black;
}

.footer{
    height: -200px;
    padding: 20px;
    background-color: #414141;
}

div.kategorija-najpopularniji div.col-xs-11{
    height: 75px;
}

div.drustvene-mreze img{
    margin: 5px;
}

#hamburger{
    font-size: 26px;
    float: right;
    display: none;
}

#toggle{
    float: right;
    display: none;
}

.meni{
    background-color: #555555;
}

.meni ul{
    margin: 10px 0 10px 0;
    padding: 0;
}

.meni li{
    list-style-type: none;
    display: inline-block;
    width: 24%;
    text-align: center;
}

.meni li:hover{
    color: gold;
}

.poslovi{
    margin-bottom: 20px;
}

.posao h3{
    cursor: default;
}

.posao img{
    margin-right: 10px;
}

.opis-slide{
    display: none;
}

hr{
    border-color: #555555 !important;
}

@media only screen and (min-width: 771px) and (max-width: 1000px){
      
}

@media only screen and (max-width: 770px){
    .navbar{
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar a{
        border-top: solid 1px #E2E2E2;
    }

    #hamburger{
        display: block;
        margin-right: 10px;
        cursor: pointer;
    }

    #hamburger:hover{
        color: white;
    }

    #toggle:checked + .navbar{
        display: block;
    }
}